<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contexto</title>
    <style>
        .lead {
            padding: 10px 10px 6px 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>



</head>

<body>
    <a href="/leads">Regresar a Lista de Lideres</a>
    <h1>Este es el detalle del lider {{ lider.first_name}} {{lider.last_name}} </h1>
    <p>Esta persona tiene una edad de {{lider.age}}</p>
</body>

</html>