{% extends "base.html" %}
{% block content %}
    <a href="{% url 'leads:lead-create' %}">Crear un Nuevo Lider</a>
    <hr> </hr>
    <h1>Lista de Lideres </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat doloribus reprehenderit molestias dignissimos
        placeat cumque quasi doloremque nisi, libero provident!</p>
    <!-- <h2>{{name}} tiene una edad de {{age}}</h2>   -->
    {% for items in lideres%}
    <div class="lead">
        <a href="{% url 'leads:lead-detail' items.pk %}">{{items.first_name}} {{items.last_name}} {{items.age}}</a>
    </div>
    {% endfor%}
{% endblock content %}